<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" 
    xmlns:th="http://www.thymeleaf.org" 
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta http-equiv="Pragma" content="no-cache" /> 
	<meta http-equiv="Cache-Control" content="no-cache" /> 
	<meta http-equiv="Expires" content="0" />
	<link rel="stylesheet" th:href="@{/css/common/common.css}" />
	<link rel="stylesheet" th:href="@{/css/custom/test.css}" />
	
	
	<script th:src="@{/js/plugin/jquery/jquery.min.js}"></script>
	<script th:src="@{/js/common/common.js}"></script>
	<script th:src="@{/js/custom/test/test.js}"></script>
</head>
</html>